@*@model EntityLayer.Concrete.Heading

    <button class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
        Yeni Başlık
    </button>

    <div class="modal" id="Modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Yeni Haber</h2>
                </div>
                @using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
                {
                    <div class="modal-body">
                        @Html.Label("Başlık")
                        @Html.TextAreaFor(x => x.HeadingName, 5, 5, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.HeadingName)
                        <br />
                        @Html.Label("Kategori")
                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new
                            { @class = "form-control" })
                        <br />

                        <button class="btn btn-info">Başlığı Oluştur</button>
                    </div>
                }
            </div>
            </div>
            </div>*@
@model EntityLayer.Concrete.Heading

<button class="btn btn-dark" data-toggle="modal" data-target="#Modal2">
    Yeni Başlık
</button>

<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni bir haber başlığı oluştur</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.HiddenFor(x => x.HeadingID)
                        @Html.HiddenFor(x => x.HeadingDate)
                        @Html.HiddenFor(x => x.WriterID)
                        <div class="form-group row">
                            @Html.Label("Başlık", new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(x => x.HeadingName, 5, 5, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.HeadingName)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Kategori", new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-dark">Oluştur</button>
                    </div>



                }
            </div>

        </div>
    </div>
</div>
