@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Content>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Dashboard 3</title>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .padding-50 {
            padding: 100px;
            padding-top: 0px;
        }
    </style>
    <link rel="stylesheet" href="~/Content/PagedList.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed" >
    <div class="wrapper">

        @Html.Action("Sidebar", "Default")

        <div class="content-wrapper padding-50">
            <br />
            <div class="content ">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align:center!important;"><h2 style="color:orangered; font-weight:bold;">@ViewBag.heading</h2> <p style="margin-inline-start: 5px !important; font-size: 15px;">  @ViewBag.writerName @ViewBag.writerSurname - @ViewBag.date</p></div>
                        <!-- The time line -->
                        <div class="timeline">
                            <!-- timeline time label -->
                            @foreach (var item in Model)
                            {
                                if (item.ContentStatus && item.Heading.HeadingStatus)
                                {

                                    <div class="time-label">
                                    </div>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-comment bg-yellow"></i>
                                        <div class="timeline-item">
                                            <h3 class="timeline-header"> </h3>
                                            <div class="timeline-body">
                                                @item.ContentValue
                                                <br />
                                                <small>
                                                    @item.Writer.WriterName @item.Writer.WriterSurname - @(((DateTime)item.ContentDate).ToString("dd.MM.yyyy"))
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                            <!-- END timeline item -->
                        </div>

                    </div>

                    <!-- /.col -->
                </div>
                <div class="d-flex justify-content-end" style="margin-right: 30px; "> @Html.PagedListPager((IPagedList)Model, p => Url.Action("HeadingList", new { p }))</div>
            </div>
            <!-- /.timeline -->
            
        </div>
        <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <!-- <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script> -->
    <!-- Bootstrap -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
</body>
</html>